canvas{
    border: 8px solid darkblue;
    background-image: url(../media/ocean.jpeg);
}
a{
    position: relative;
    top: 0;
    left: 10px;
    text-align: right end;
    font-size: 3em;
    color: white;
}
